.heart {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  transform: rotate(-45deg);
}
.heart::before,
.heart::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}
.heart::before {
  top: -50px;
  left: 0;
}
.heart::after {
  left: 50px;
  top: 0;
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.heart {
  animation: heartbeat 1s infinite;
}
